.proud-checklist-page__title {
  font-size: 1.8em;
  font-weight: 200;
}

ul.proud-checklist {
  margin-left: 0;

  .card {
    padding: 12px !important;
  }

  .checklist-number {
    display: inline-block;
    width: 80px;
    text-align: right;
    font-size: 60px;
    line-height: 60px;
    color: $gray;
    padding-right: 10px;
  }

  .pull-left {
    position: absolute;
    padding-top: 8px;
  }

  h3,
  .content {
    padding-left: 25px;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 200;
  }

  .completed {
    h3{
      color: $alert-green;
    }
  }

  .button {
    margin-right: 16px;
  }

}

.proud-checklist-player {
  width: 100%;
  height: 300px;
  background: black;
}

.help-cards {
  width: 380px;
  margin-top: 2em;

  .help-title {
    font-weight: bold;
    margin-bottom: .5em;
  }

  .card {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;

    h3 {
      font-size: 1.4em;
      font-weight: 200;
    }
  }

  

}

.button .fa-fw {
  width: 40px;
}